.wholebox {
  width: 581rem;
  height: 46rem;
}

.gridsContainer {
  width: 580rem;
  height: 45rem;
}
.btnBox {
  position: absolute;
}

.boxs {
  width: 580rem;
  height: 45rem;
  display: flex;
}

.boxs::before {
  content: '';
  display: block;
  width: 28rem;
  border: 1px solid #f00;
}

.prevBtn {
  position: absolute;
  width: 12rem;
  height: 45rem;
  opacity: 0.5;
  top: -45rem;
  left: 30rem;
  z-index: 2;
  /* visibility: hidden; */
}

.nextBtn {
  position: absolute;
  width: 12rem;
  height: 45rem;
  opacity: 0.5;
  top: -45rem;

  right: 30rem;
  z-index: 2;
}

.nextBtn:hover {
  opacity: 0.3;
}
.prevBtn:hover {
  opacity: 0.3;
}
.gridbox1,
.gridbox2,
.gridbox3 {
  display: grid;
  margin-left: 3rem;
  grid-template-areas:
    'a a b'
    'a a b'
    'c d b';
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  height: 100%;
  width: 70rem;
}

.keyboardwhite {
  grid-area: a;
  position: relative;
  width: 100%;
  height: 100%;
}

.headset {
  grid-area: b;
  position: relative;
  width: 100%;
  height: 100%;
}
.laptop {
  grid-area: c;
  position: relative;
  width: 100%;
  height: 100%;
}

.webcam {
  grid-area: d;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .gridbox {
    grid-template-columns: unset;
  }
}

.gridbox > div:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
