.carouselBox {
  display: flex;
  font-size: large;
  overflow: visible;
  position: relative;
}

.carouselContainer {
  position: absolute;
  width: 100vw;
  min-height: 100%;
}

.prevBtn {
  position: relative;
  bottom: 10%;
  left: 30rem;
  top: 30rem;
  z-index: 2;
  right: 30rem;
}

.nextBtn {
  position: relative;
  bottom: 10%;
  left: 30rem;

  z-index: 2;
  left: 30rem;
}

.carouselSpan {
  top: 10rem;
  font-size: xx-large;
  position: absolute;
}
