.navContainer {
  width: 80rem;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  align-items: center;
  margin-left: 19rem;
  grid-template-columns: 1fr 4.2fr 1fr;
  position: absolute;
  z-index: 1;
  position: fixed;
}
.navBar {
  display: flex;
  justify-content: center;
  z-index: 3;
}
.navBar button {
  height: 90px;
  display: flex;
  align-items: center;
  min-width: 4rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.toolBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.toolBar button {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1rem;
}

.imgdiv {
  z-index: 1;
}
