.menuspanYesid {
  position: absolute;
  top: 15vw;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 4vw;
}
.menuBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0%;
}
.menuBox > h1 {
  padding-left: 1vw;
  width: 50%;
  margin-left: 2vw;
}
.menuBtn1 {
  height: 2.6vw;
  font-weight: bold;
  font-size: 0.8vw;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  text-align: center;
  background-color: black;
  color: white;
}
.menuBtn2 {
  height: 2.6vw;

  font-weight: bold;
  font-size: 0.8vw;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  margin-top: 20px;
  text-align: center;
  margin-left: 15px;
}
.btns {
  height: 70px;
  width: 20vw;
  display: flex;
}

.menuBtn1:hover {
  background-color: white;
  color: black;
}
.menuBtn2:hover {
  border: solid 3px;
  color: white;
  background-color: black;
}
