.headers {
  position: relative;
}
.catchPh {
  position: absolute;
  z-index: 2;
  left: 40%;
  top: 47%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bigph {
  font-size: 2.6rem;
  font-weight: bold;
}
.smallph {
  font-size: medium;
}
.bodyMain {
  position: relative;
  display: flex;
  margin-left: 10px;
}
.pageBody {
  width: 80%;
  margin: 0 auto;
}
.sideCheckbox {
  width: 18%;
  margin-right: 1rem;
}
.cardPannel {
  width: 80%;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.colorVar {
  font-size: small;
}
.marginDiv {
  height: 3rem;
}
.blockBtn {
  height: 3rem;
  width: 5rem;
  font-size: x-small;
  font-weight: bold;
  background-color: white;
  color: black;

  outline: none !important;
}

.inputcolor {
  display: flex;
  flex-direction: column;
  width: 5vw;
}

.cardcoulum {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pcard {
  width: 15vw;
  height: 21vw;
  float: left;
  margin: 1.5vw;
}

.pageNation {
  padding-top: 10vw;
  padding-left: 10vw;

  position: relative;
}

.CardBody {
  width: 15vw;
  height: 21vw;
  position: relative;
  font-size: 0.85vw;
}

.heroPannel {
  width: 100vw;
  height: 20vw;
}
