.header {
  position: relative;
}
.bodyContainer {
  width: 100%;
  margin-top: 4.8vw;
}
.pannelContainer {
  width: 60%;
  display: flex;
  margin: 0% auto;
}
.productPannel {
  width: 80%;
  background-color: violet;
  height: 100%;
}

.billPannel {
  width: 20%;
  background-color: yellow;
  height: 100%;
}

.buyingBtn {
  margin-left: 3vw;
}
