.loginimg {
  margin: 0 auto;
}
.loginBody {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 5vw;
}
.inputAria {
  font-size: x-small;
  padding-bottom: 3vw;
}
.emailLabel > input {
  border: none;
}
.pwLabel > input {
  border: none;
}
.pwAria {
  padding-top: 1vw;
}

.loginbtn:click {
  background-color: white;
}
.loginbtn {
  font-size: x-small;
}
