.menuspanNoid {
  position: absolute;
  left: 40%;
  top: 15vw;
  font-weight: bold;

  margin: 0 auto;
}

.menuspanNoid > h1 {
  font-size: 2.5vw;
  text-align: center;
}

.menuspanNoid > button {
  margin: 0 auto;
}
.usersMenus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
  margin: 0 auto;
}
.usersMenus > button {
  margin-right: 8vw;
}
.spanhuge {
  padding-top: 1vw;
  font-size: 1.3vw;
}
.usercard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  margin-top: 5vw;
}

.userssbtn {
  height: 5vw;
  width: 5vw;
  border-radius: 3vw;
  background-color: #f0f1f1;
  position: relative;
}

.explain {
  width: 70%;
  color: #6f7678;
  font-size: 0.9vw;
}

.links {
  text-decoration-line: none;
  display: flex;
  flex-direction: column;
  font-size: 0.8vw;
}

.link {
  text-decoration-line: none;
}
