.menuspanNoid {
  position: absolute;
  left: 40%;
  top: 15vw;
  font-weight: bold;

  margin: 0 auto;
}

.menuspanNoid > h1 {
  font-size: 2.5vw;
  text-align: center;
}

.menuspanNoid > button {
  margin: 0 auto;
}
