.setLanguage {
  height: 48px;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: auto 355px auto;
  margin-left: 22rem;
  z-index: 5;
  position: sticky;
}

.dropbtn {
  background-color: white;
  padding-top: 1rem;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  z-index: 5;
  width: 5rem;
  height: fit-content;
  border: none;
}

/* Dropdown Content (Hidden by Default) */

.linkBox {
  list-style: none;

  flex-direction: column;
  visibility: hidden;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 300px;
}
.link {
  color: black;
  width: 75px;
  height: 2rem;
  padding-bottom: 10px;
  min-height: 40px;
  z-index: 100;
}

.bannerImgs {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  height: 42vw;
  top: 3.3vw;
  left: -6vw;

  z-index: 1;
  width: 110vw;
}
.bannerKeyboard {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.colorPannel {
  background-color: #836aa4;
}

.spanContainer {
  display: table;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 22vw;
  top: 14rem;
  width: 25rem;
  height: auto;
}
.panneldiv1 {
  font-size: 4.5vw;
  font-weight: 900;
  color: white;
  margin-left: 3.5vw;
}
.panneldiv2 {
  font-size: 4.5vw;
  font-weight: 900;
  color: yellow;
  top: 3px;
  margin-left: 1vw;
}
.panneldivsmall {
  font-size: 1vw;
  font-weight: 400;
  color: white;
  margin-left: 2.5vw;
  margin-bottom: 1vw;
}

.btnBox {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}
.overBtn {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 3.75vw;
  display: inline-block;

  font-weight: bold;
  font-size: 0.95vw;
  z-index: 10;
  text-align: center;
  margin-left: 3vw;
}
.underBtn {
  display: flex;
  align-items: center;
  width: 12vw;
  height: 3.75vw;
  display: block;
  margin-top: 0.7vw;

  font-weight: bold;
  font-size: 0.95vw;
  z-index: 10;
  text-align: center;
  margin-left: 2vw;
}

.underBtn:hover {
  background-color: #836aa4;
}

.overBtn:hover {
  background-color: #836aa4;
}
