.carouselBox {
  display: flex;
  font-size: large;
  position: relative;
}

.carouselContainer {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  overflow: hidden;
}

.prevBtn {
  position: relative;
  bottom: 10%;
  left: 2vw;
  top: 20vw;
  z-index: 2;
  right: 30rem;
}

.nextBtn {
  position: relative;
  z-index: 2;
  right: 95vw;
  top: 20vw;
}

.carouselSpan {
  top: 10rem;
  font-size: xx-large;
  position: absolute;
  left: 20vw;
}
