.wholebox {
  width: 90vw;
  height: 46rem;
}

.gridsContainer {
  width: 90vw;
  height: 45rem;
  overflow-x: hidden;
  background: transparent;
  scroll-behavior: smooth;
  transition: transform 0.5s;
}
.btnBox {
  position: absolute;
}

.boxs {
  width: 580rem;
  height: 45rem;
  display: flex;
  transition: transform 0.5s;
}

.boxs::before {
  content: '';
  display: block;
  width: 28rem;
}

.prevBtn {
  position: absolute;
  width: 12rem;
  height: 45rem;
  opacity: 0.1;
  top: -45rem;
  left: 30rem;
  z-index: 2;
  /* visibility: hidden; */
}

.nextBtn {
  position: absolute;
  width: 11vw;
  height: 40vw;
  opacity: 0.2;
  top: -40vw;
  left: 80vw;
  z-index: 2;
}

.nextBtn:hover {
  opacity: 0.5;
}
.prevBtn:hover {
  opacity: 0.5;
}
.gridbox1,
.gridbox2,
.gridbox3 {
  display: grid;
  margin-left: 3rem;
  grid-template-areas:
    'a a b'
    'a a b'
    'c d b';
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  height: 100%;
  width: 70rem;
  transition: transform 0.5s;
  scroll-behavior: smooth;
}

.keyboardwhite {
  grid-area: a;
  position: relative;
  width: 100%;
  height: 100%;
}

.headset {
  grid-area: b;
  position: relative;
  width: 100%;
  height: 100%;
}
.laptop {
  grid-area: c;
  position: relative;
  width: 100%;
  height: 100%;
}

.webcam {
  grid-area: d;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .gridbox {
    grid-template-columns: unset;
  }
}

.gridbox > div:hover {
  transition: transform 0.5s;
}
