.cardOptions {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: bold;
}
.cards {
  font-size: large;
}

.amount {
  display: flex;
}
.amountOption {
  width: 9%;
  height: 40%;
  margin-left: 0.5vw;
}
.amountchng {
  display: flex;
  flex-direction: row;
}
.changeBtn {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.3vw;

  margin-right: 0.3vw;
}
