.menuspanNoid {
  position: absolute;
  left: 40%;
  top: 15vw;
  font-weight: bold;
  visibility: visible;
  margin: 0 auto;
}

.yesbtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2vw;
}
.yesbtns > h2 {
  font: bolder;
  font-size: 900;
  font-weight: 1000;
}
